# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    ports:
      - 5433:5432
    expose:
      - 5433

  storage:
    image: quay.io/minio/minio
    container_name: minio_storage
    restart: always
    environment:
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
    ports:
      - 9000:9000
      - 9001:9001
    command: server /data --console-address ":9001"
    expose:
      - 9000

  app:
    build: .
    container_name: app_backend
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db
      - storage
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/prb?schema=public
      MINIO_END_POINT: http://storage
      GETAWAY_END_POINT: http://localhost
    deploy:
      resources:
        limits:
          memory: 3g
        reservations:
          memory: 1g
